snippet !html "HTML 5 Template"
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>HTML5 Page</title>
	<meta name="description" content="">
	<meta name="author" content="">
</head>
<body>
	${2}
</body>
</html>
endsnippet
