snippet @html "HTML5 Template"
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="Alex Barry">
</head>
<body>
</body>
</html>
endsnippet
